In [66]:
import pandas as pd

# Replace 'your_file.csv' with the actual path to your CSV file
file_path = 'data/CO2emissions.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Now, 'df' contains your data from the CSV file
display(df)

# number of years in dataframe
unique_years = len(df['Year'].unique())
print(f"Total of unique tears{unique_years}, Period: {min(df['Year'].unique())} - {max(df['Year'].unique())}" )

# number of countries (including Global)
unique_countries = len(df['Country'].unique())
print(f"Tota countries:{unique_countries}")

# check if all countries have all years
print("All countries have all years:",all(num == unique_years for num in df['Country'].value_counts().values))

# check if Total column contains missing values
print("Total column has missing values:", all(num == True for num in df['Total'].isna().values))

# check if Total column contains zero values
print("Total column contains values=0:",True if len(df[df['Total']==0]) > 0 else False)
print(len(df[df['Total']==0]))

df_CO2 = df.copy()

,Country,ISO 3166-1 alpha-3,Year,Total,Coal,Oil,Gas,Cement,Flaring,Other,Per Capita
0,Afghanistan,AFG,1750,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,1751,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,1752,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,AFG,1753,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,1754,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
63099,Global,WLD,2017,36096.739276,14506.973805,12242.627935,7144.928128,1507.923185,391.992176,302.294047,4.749682
63100,Global,WLD,2018,36826.506600,14746.830688,12266.016285,7529.846784,1569.218392,412.115746,302.478706,4.792753
63101,Global,WLD,2019,37082.558969,14725.978025,12345.653374,7647.528220,1617.506786,439.253991,306.638573,4.775633
63102,Global,WLD,2020,35264.085734,14174.564010,11191.808551,7556.290283,1637.537532,407.583673,296.301685,4.497423
63103,Global,WLD,2021,37123.850352,14979.598083,11837.159116,7921.829472,1672.592372,416.525563,296.145746,4.693699

Total of unique tears272, Period: 1750 - 2021
Tota countries:232
All countries have all years: True
Total column has missing values: False
Total column contains values=0: True
41207

In [63]:
import pandas as pd

# Replace 'your_file.csv' with the actual path to your CSV file
file_path = 'data/Speakers_by_session.csv'

# Load the CSV file into a DataFrame
df = pd.read_csv(file_path, sep=';')

# Now, 'df' contains your data from the CSV file
display(df)

unique_years = len(df['Year'].unique())
print(f"Total of unique years: {unique_years}, Period: {min(df['Year'].unique())} - {max(df['Year'].unique())}" )

# number of countries (including Global)
unique_countries = len(df['Country'].unique())
print(f"Tota countries:{unique_countries}")

# check if all countries have all years
print("All countries have all years:",all(num == unique_years for num in df['Country'].value_counts().values))

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Unnamed: 6
0,2022,77,BRA,Brazil,Jair Bolsonaro,President,NaN
1,2022,77,SEN,Senegal,Macky Sail,President,NaN
2,2022,77,CHL,Chile,Gabriel Boric Font,President,NaN
3,2022,77,JOR,Jordan,Abdullah II ibn Al Hussein,King,NaN
4,2022,77,COL,Colombia,Gustavo Petro Urrego,President,NaN
...,...,...,...,...,...,...,...
10554,1946,1,USA,United States of America,Mr. Austin,NaN,NaN
10555,1946,1,IRN,Iran,Mr. Entezam,NaN,NaN
10556,1946,1,URY,Uruguay,Mr. Blanco,NaN,NaN
10557,1946,1,LUX,Luxembourg,Mr. Bech,NaN,NaN
10558,1946,1,UKR,Ukrainian Soviet Socialist Republic,Mr. Manuilsky,NaN,NaN

Total of unique years: 77, Period: 1946 - 2022
Tota countries:756
All countries have all years: False

In [65]:
# select countries that are in both datasets
CO2_countries = set(df_CO2['Country'].values)
UN_countries = set(df['Country'].values)
common_countries = list(CO2_countries.intersection(UN_countries))
print("Total countries in both dataframes:",len(common_countries))
df_sel = df[df['Country'].isin(common_countries)]

# select years before 2022. since we have emission from before 2022
df_sel = df_sel[df_sel['Year']!=2022]
display(df_sel)

Total countries in both dataframes: 189

,Year,Session,ISO Code,Country,Name of Person Speaking,Post,Unnamed: 6
252,2021,76,GNB,Guinea-Bissau,Umaro Sissoco Embaló,President,NaN
311,2021,76,NLD,Netherlands,Mark Rutte,Prime Minister,NaN
386,2021,76,TLS,Timor-Leste,Karlito Nunes,Permanent Representative,NaN
392,2020,75,ZAF,South Africa,Mr. Matamela Cyril Ramaphosa,President,NaN
416,2020,75,IDN,Indonesia,Mr. Joko Widodo,President,NaN
...,...,...,...,...,...,...,...
10551,1946,1,COL,Colombia,Mr. Lopez,NaN,NaN
10552,1946,1,LBN,Lebanon,Mr. Chamoun,NaN,NaN
10555,1946,1,IRN,Iran,Mr. Entezam,NaN,NaN
10556,1946,1,URY,Uruguay,Mr. Blanco,NaN,NaN
10557,1946,1,LUX,Luxembourg,Mr. Bech,NaN,NaN