In [1]:
# Wim Pilkes 11044632


# import required modules
import os
import pandas as pd

In [2]:
# when given the path name to a txt of a "valid" session,
# extract raw text file and metadata.
# Return mini dataframe with 1 row.
def make_row_for_df(path_session):

    # extract and clean metadata from the filename
    country, session_nr, year=  path_session.split('\\')[-1].split('_')
    year = year.split(".")[0]

    # open the txt file as string
    raw_txt = open(path_session, encoding="utf8").read() 

    # format the data
    new_row = {"country": country, "year":year, "session":session_nr, "txt":raw_txt}
    return pd.DataFrame(new_row, index=["0"])

In [3]:
df = pd.DataFrame()

# the data is a map called txt in the git
directory=('../data/UNGDC_1946-2022/TXT')

# loop through the directory of differetn UN sessions
for session_map in os.listdir(directory):
    
    # only half the files are encoded in a way that we can use it, these are considered "valid"
    # the other half of the files is a copy of the same data, but encoded differently
    # all non- "valid" folders/files start with a dot ".", we donnot want these  
    if not session_map.startswith("."):
        
        path_session_map = os.path.join(directory, session_map)

        # Each session is split by country in different txt files. Loop through these.
        for session in os.listdir(path_session_map):

            # filter for "valid" files again.
            if not session.startswith("."):

                path_session = os.path.join(path_session_map, session)
                print(path_session)
                # find and organize the data for a session
                new_row = make_row_for_df(path_session)

                # add to DF
                df = pd.concat([df, new_row], ignore_index=True)

df

ValueError: too many values to unpack (expected 3)

In [22]:
df = df.astype({'year':'int'})

In [23]:
df_2007 = df.loc[df["year"]>2006]
df_2007

      country  year session                                                txt
7473      AFG  2007      62  Over the 62 years of its \nexistence, the Gene...
7474      AGO  2007      62  At the outset, \nI would like to salute the in...
7475      ALB  2007      62  Please allow me, Sir, to \ncongratulate you on...
7476      AND  2007      62  People and planet. \nThey are our alpha and ou...
7477      ARE  2007      62  It gives me great pleasure to \nexpress, on be...
...       ...   ...     ...                                                ...
10563     WSM  2022      77  I extend Samoa’s congratulations to His Excell...
10564     YEM  2022      77  At the outset, I would like to sincerely congr...
10565     ZAF  2022      77  Allow me to join all speakers before me in con...
10566     ZMB  2022      77  At the outset, we would like to congratulate M...
10567     ZWE  2022      77  It is my singular honour to deliver this state...

[3095 rows x 4 columns]

In [24]:
df_2007.to_pickle("../data/DF_UNsession_rawtxt_per_country_from2007.pkl")